h1 {
    font-family: Georgia;
}

.title {
    font-family: 'Brush Script MT', cursive;
}

.header {
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/ldaIas/ldaIas.github.io/master/sunset.jpeg');
    background-size: cover;
    background-position: center;
}

.indices {
    text-align: center;
    font-size:x-large;
    padding-bottom: 1.8%;
}

.indlink {
    margin: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.about {
    border: 2px solid blue;
    font-family: cursive;
    text-align: center;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: large;
    letter-spacing: 1px;
}